<article>
  <h1>Películas</h1>
  <form class="grid">
      <input type="text" name="search" placeholder="matrix">
      <button class="btn">Buscar</button>
  </form>
  <div class="my-grid">
    <!-- <figure>
      <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg" alt="movie">
      <figcaption>The matrix <time>1999</time></figcaption>
    </figure>
    <figure>
      <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg" alt="movie">
      <figcaption>The matrix <time>1999</time></figcaption>
    </figure>
    <figure>
      <img src="https://m.media-amazon.com/images/M/MV5BNzQzOTk3OTAtNDQ0Zi00ZTVkLWI0MTEtMDllZjNkYzNjNTc4L2ltYWdlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg" alt="movie">
      <figcaption>The matrix <time>1999</time></figcaption>
    </figure> -->
  </div>
</article>